<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>classes.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterForActivateClearanceServlet</servlet-name>
        <servlet-class>newServletAndModelClasses.FilterForActivateClearanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeactivateClearanceServ</servlet-name>
        <servlet-class>newServletAndModelClasses.DeactivateClearanceServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getofficeStatusServlet</servlet-name>
        <servlet-class>newServletAndModelClasses.getofficeStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterForDeactivateClearanceServlet</servlet-name>
        <servlet-class>newServletAndModelClasses.FilterForDeactivateClearanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>initiateClearance1</servlet-name>
        <servlet-class>classes.initiateClearance1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivateAccountServlet</servlet-name>
        <servlet-class>classes.ActivateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeactivateAccountServlet</servlet-name>
        <servlet-class>classes.DeactivateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveClearanceFilterServlet</servlet-name>
        <servlet-class>newServletAndModelClasses.ApproveClearanceFilterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getMyStatusServlet</servlet-name>
        <servlet-class>newServletAndModelClasses.getMyStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>approveClearanceServlet</servlet-name>
        <servlet-class>newServletAndModelClasses.approveClearanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>initiateClearance2</servlet-name>
        <servlet-class>classes.initiateClearance2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetStudentStatusServlet</servlet-name>
        <servlet-class>classes.GetStudentStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createAccountServlet1</servlet-name>
        <servlet-class>classes.createAccountServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createAccountServlet2</servlet-name>
        <servlet-class>classes.createAccountServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageAccountServlet</servlet-name>
        <servlet-class>classes.ManageAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuccessInitiate</servlet-name>
        <servlet-class>SuccessInitiate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletname</servlet-name>
        <servlet-class>servletname</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>approveChechUp</servlet-name>
        <servlet-class>checkup.approveChechUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateCheckUp</servlet-name>
        <servlet-class>checkup.updateCheckUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePasswordServlet</servlet-name>
        <servlet-class>newServletAndModelClasses.changePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterForUpdateServlet</servlet-name>
        <servlet-class>newServletAndModelClasses.FilterForUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerNoncafeStudentsServlet</servlet-name>
        <servlet-class>newServletAndModelClasses.registerNoncafeStudentsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getClearedStudentsServlet</servlet-name>
        <servlet-class>newServletAndModelClasses.getClearedStudentsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>filterStudentsForNONCAFEservlet</servlet-name>
        <servlet-class>newServletAndModelClasses.filterStudentsForNONCAFEservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>classes.logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>approveClearanceBackServlet</servlet-name>
        <servlet-class>newServletAndModelClasses.approveClearanceBackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateClearanceStatusServlet</servlet-name>
        <servlet-class>newServletAndModelClasses.UpdateClearanceStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getMyStatus</servlet-name>
        <servlet-class>classes.getMyStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>initiateClearance3</servlet-name>
        <servlet-class>classes.initiateClearance3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentIntermidateServlet</servlet-name>
        <servlet-class>newServletAndModelClasses.StudentIntermidateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterForStudentDean</servlet-name>
        <servlet-class>newServletAndModelClasses.FilterForStudentDean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentDeanServlet</servlet-name>
        <servlet-class>classes.StudentDeanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PdfServlet</servlet-name>
        <servlet-class>pdfWriting.PdfServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet2</servlet-name>
        <servlet-class>newServletAndModelClasses.ChangePasswordServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>hold_clearance_servlet</servlet-name>
        <servlet-class>update_related.hold_clearance_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>release_clearance_servlet</servlet-name>
        <servlet-class>update_related.release_clearance_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarServlet</servlet-name>
        <servlet-class>pdfWriting.RegistrarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentIntermidateServlet2</servlet-name>
        <servlet-class>newServletAndModelClasses.StudentIntermidateServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HoldClearanceServlet</servlet-name>
        <servlet-class>update_related.HoldClearanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllStudentsClearanceInfo</servlet-name>
        <servlet-class>newServletAndModelClasses.GetAllStudentsClearanceInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReleaseFilterServlet</servlet-name>
        <servlet-class>update_related.ReleaseFilterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InitiateClearance</servlet-name>
        <servlet-class>classes.InitiateClearance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudensRegistrarStatus</servlet-name>
        <servlet-class>pdfWriting.StudensRegistrarStatus</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ActivateClearanceServlet</servlet-name>
        <servlet-class>newServletAndModelClasses.ActivateClearanceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActivateClearanceServlet</servlet-name>
        <url-pattern>/ActivateClearanceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>initiateClearance1</servlet-name>
        <url-pattern>/initiateClearance1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>initiateClearance2</servlet-name>
        <url-pattern>/initiateClearance2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>approveClearanceServlet</servlet-name>
        <url-pattern>/approveClearanceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterForUpdateServlet</servlet-name>
        <url-pattern>/FilterForUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetStudentStatusServlet</servlet-name>
        <url-pattern>/GetStudentStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageAccountServlet</servlet-name>
        <url-pattern>/ManageAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createAccountServlet1</servlet-name>
        <url-pattern>/createAccountServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createAccountServlet2</servlet-name>
        <url-pattern>/createAccountServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuccessInitiate</servlet-name>
        <url-pattern>/SuccessInitiate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletname</servlet-name>
        <url-pattern>/servletname</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveClearanceFilterServlet</servlet-name>
        <url-pattern>/ApproveClearanceFilterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivateAccountServlet</servlet-name>
        <url-pattern>/ActivateAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeactivateAccountServlet</servlet-name>
        <url-pattern>/DeactivateAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getMyStatusServlet</servlet-name>
        <url-pattern>/getMyStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>approveChechUp</servlet-name>
        <url-pattern>/approveChechUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateCheckUp</servlet-name>
        <url-pattern>/updateCheckUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePasswordServlet</servlet-name>
        <url-pattern>/changePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerNoncafeStudentsServlet</servlet-name>
        <url-pattern>/registerNoncafeStudentsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getClearedStudentsServlet</servlet-name>
        <url-pattern>/getClearedStudentsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>filterStudentsForNONCAFEservlet</servlet-name>
        <url-pattern>/filterStudentsForNONCAFEservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterForActivateClearanceServlet</servlet-name>
        <url-pattern>/FilterForActivateClearanceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>approveClearanceBackServlet</servlet-name>
        <url-pattern>/approveClearanceBackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getMyStatus</servlet-name>
        <url-pattern>/getMyStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>initiateClearance3</servlet-name>
        <url-pattern>/initiateClearance3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateClearanceStatusServlet</servlet-name>
        <url-pattern>/UpdateClearanceStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentIntermidateServlet</servlet-name>
        <url-pattern>/StudentIntermidateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterForStudentDean</servlet-name>
        <url-pattern>/FilterForStudentDean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterForDeactivateClearanceServlet</servlet-name>
        <url-pattern>/FilterForDeactivateClearanceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeactivateClearanceServ</servlet-name>
        <url-pattern>/DeactivateClearanceServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentDeanServlet</servlet-name>
        <url-pattern>/StudentDeanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PdfServlet</servlet-name>
        <url-pattern>/PdfServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet2</servlet-name>
        <url-pattern>/ChangePasswordServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>hold_clearance_servlet</servlet-name>
        <url-pattern>/hold_clearance_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>release_clearance_servlet</servlet-name>
        <url-pattern>/release_clearance_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarServlet</servlet-name>
        <url-pattern>/RegistrarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentIntermidateServlet2</servlet-name>
        <url-pattern>/StudentIntermidateServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getofficeStatusServlet</servlet-name>
        <url-pattern>/getofficeStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HoldClearanceServlet</servlet-name>
        <url-pattern>/HoldClearanceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllStudentsClearanceInfo</servlet-name>
        <url-pattern>/GetAllStudentsClearanceInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReleaseFilterServlet</servlet-name>
        <url-pattern>/ReleaseFilterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InitiateClearance</servlet-name>
        <url-pattern>/InitiateClearance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudensRegistrarStatus</servlet-name>
        <url-pattern>/StudensRegistrarStatus</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
           100
        </session-timeout>
    </session-config>
</web-app>
