
.bbbb{
    display: inline-block;
    height: 200px;
    width: 79%;
    overflow: scroll;
    overflow-x: scroll;
}
#head{
    display: inline-block;
}

.testTable thead th {
    background: #0199d9;
    width:183px;
    height:35px;
    border: 1px solid #1d96b2;
    font-weight: normal;
    text-align: center;
    color: white;

}

/**    this is optional for the tblody of table update clearance status */
.testTable tbody th {
    width:13%;
    height:33px;
    color:black;
    font-size: 20px;
    border-bottom: 1px solid #1d96b2;
    font-weight: normal;
    text-align: center;  
}
/*******/
.testTable tbody{
    width:980px;
    margin-bottom: 1em;
}.testTable thead{
    width:965px;
}
.testTable tbody tr {
    margin-bottom: 1em;
    border: 2px solid #1d96b2;
}.testTable tbody tr:last-of-type {
    margin-bottom: 0;
}
@media (min-width: 48em) {
    .testTable tbody tr:nth-of-type(even) {
        background-color: rgba(94, 93, 82, 0.1);
    }
}


@media (min-width: 30em) {/**/
    .testTable tbody td {
        border-bottom: 1px solid #1d96b2;
        height: 30px;
    }
}
.testTable{
    width: 1000px;
}

/**                 FOOT            **/

.testTable tfoot {
    font-size: .8em;
    color:black;
    font-style: italic;
    width:120%;
    /**************************************************/

    .testTable tbody th[scope="row"] {/**/
        background-color: #1d96b2;
        color: white;
    }
}